{{> header}}

<h1>{{title}}</h1>

{{#username}}
    <p>Hello: {{username}}</p>
    <p>Your Roles Are: {{roles}}</p>
{{/username}}
<a href="{{contextPath}}/">Home</a>
<a href="{{contextPath}}/login">Login</a>-
<a href="{{contextPath}}/signup">Signup</a>

{{> footer}}