{{> header}}

<h3>My Custom Login Page</h3>


<p>{{contextPath}}</p>
<form action="{{contextPath}}/signup"
      method="POST">
    <p>
        User name: <input type="text" name="username" />
    </p>

    <p>
        Password: <input type="password" name="password" />
    </p>

    <p>
        Email: <input type="text" name="email" />
    </p>

    {{#_csrf}}
        <input type="hidden" name="{{parameterName}}" value="{{token}}"/>
    {{/_csrf}}

    <input type="submit" value="Signup" />

</form>

{{> footer}}